{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="row">
                                    <!-- CARD -->
        <aside class="col-sm-12 col-md-4 col-lg-3 px-0">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs flex-column flex-sm-row card-header-tabs justify-content-evenly" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a href="#watchlist" class="nav-link nav-font px-1" id="watchlist-tab"  data-bs-toggle="tab"  role="tab" aria-controls="watchlist" aria-selected="false">Watchlist</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a href="#following" class="nav-link nav-font px-1" id="following-tab"  data-bs-toggle="tab"  role="tab" aria-controls="following" aria-selected="false">Following</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a href="#likes" class="nav-link nav-font px-1" id="likes-tab"  data-bs-toggle="tab" role="tab" aria-controls="likes" aria-selected="false">Liked</a>
                </li>
              </ul>
              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade" id="watchlist" role="tabpanel" aria-labelledby="watchlist-tab">

                  </div>
                  <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                    following
                  </div>
                  <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
                    likes
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
                                    <!-- Chatters -->
        <div class="col-sm-12 col-md-8 col-lg-9">
          <ul class="list-unstyled">
            {% for chatter in chatters %}
              <li class="media">
                <div class="d-flex align-items-end">
                  <a href="/users/{{ chatter.user.id }}">
                    <img src="{{ chatter.user.image_url }}" alt="" class="timeline-image">
                  </a>
                    {% if g.user.id != chatter.user_id %}

                      {% if chatter.user_id in following_list %}
                      <form  method="post" action="/stop-following/{{chatter.user_id}}">
                        <button class="btn btn-danger btn-sm m-1" type="submit">Unfollow</button>
                      </form>
                      {% else %}
                      <form  method="POST" action="/follow/{{chatter.user_id}}">
                        <button class="btn btn-primary btn-sm m-1" type="submit">Follow</button>
                      </form>
                      {% endif %}
                    {% endif %}
                    <a href="/users/{{ chatter.user.id }}" >@{{ chatter.user.username }}</a>
                    <small class="text-muted mx-3">{{ chatter.timestamp.strftime('%d %B %Y') }}</small>

                    {% if chatter.id in liked_chatters_list %}
                    <form method="POST" action="/likes/{{ chatter.id }}/delete">
                      <button class="btn btn-link pb-0 ml-3 p-2">
                        <i class="fas fa-thumbs-up"></i> 
                      </button>
                    </form>
                    <form action="/chatters/{{ chatter.id }}">
                      <button class="btn btn-link pb-0 ml-3 p-2">
                        <i class="far fa-comment-alt"></i>
                      </button>
                    </form>
                    {% else %}                    
                    <form method="POST" action="/likes/{{ chatter.id }}/add">
                      <button class="btn btn-link pb-0 ml-5 p-2">
                        <i class="far fa-thumbs-up "></i>
                      </button>
                    </form>
                    <form method="GET" action="/chatters/{{ chatter.id }}">
                      <button class="btn btn-link pb-0 ml-5 p-2">
                        <i class="far fa-comment-alt">{{ chatter.comments|length}}</i>
                      </button>
                    </form> 
                    {% endif %}

                </div>
                <div class="media-body m-2">
                  <p>{{ chatter.body }}</p>
                </div>
              </li>
              <div><br></div>
            {% endfor %}
          </ul>
        </div>

    </div>
  </div>
{% endblock %}